* text=auto !eol
data/gwakeonlan.desktop -text
data/gwakeonlan.glade -text
data/gwakeonlan.svg -text
doc/README -text
doc/changelog -text
doc/copyright -text
doc/translators -text
/gwakeonlan -text
man/gwakeonlan.1 -text
po/en_US.po -text
po/es.po -text
po/fr.po -text
po/genpot.sh -text
po/gwakeonlan.pot -text
po/i18n-2.sh -text
po/i18n-3.sh -text
po/it.po -text
/setup.py -text
