* text=auto !eol
data/gwakeonlan.desktop -text
data/gwakeonlan.glade -text
data/gwakeonlan.svg -text
doc/README -text
doc/changelog -text
doc/copyright -text
doc/translators -text
/gwakeonlan -text
man/gwakeonlan.1 -text
po/ar.po -text
po/bg.po -text
po/cs.po -text
po/da.po -text
po/de.po -text
po/en_US.po -text
po/es.po -text
po/fr.po -text
po/genpot.sh -text
po/gwakeonlan.pot -text
po/he.po -text
po/hu.po -text
po/i18n-2.sh -text
po/i18n-3.sh -text
po/it.po -text
po/ja.po -text
po/nl.po -text
po/pl.po -text
po/pt.po -text
po/ru.po -text
po/sk.po -text
po/tr.po -text
po/zh.po -text
/setup.py -text
