language: python
python:
  - "2.7"
virtualenv:
  system_site_packages: true
sudo: false
script:
  - python gwakeonlan.py
addons:
  apt:
    packages:
    - python-gi                               # GObject
    - gir1.2-gtk-3.0                          # gi.repository.gtk python-xdg
    - python-xdg                              # xdg
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
install:
  - pip install -r requirements.txt
branches:
  only:
    - master
