[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=gWakeOnLAN
GenericName=gWakeOnLAN
Comment=Wake up your machines using Wake on LAN
Comment[it]=Accendi le tue macchine usando il Wake On LAN
Terminal=false
Categories=Network;GTK;
Icon=gwakeonlan
TryExec=gwakeonlan
Exec=gwakeonlan
