[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=gWakeOnLAN
GenericName=gWakeOnLAN
Comment=A GTK+ utility to awake turned off computers through the Wake on LAN feature
Comment[bg]=GTK+ приложение за събуждане на изключени компютри чрез функцията „Wake on LAN“
Comment[de]=Ein GTK+-Werkzeug, welches ausgeschaltete Rechner durch Wake on LAN (WOL) anschalten kann
Comment[en]=A GTK+ utility to awake turned off computers through the Wake on LAN feature
Comment[es]=Una aplicación GTK+ para encender equipos apagados a través de Wake on LAN
Comment[eu]=Itzalitako ordenagailuak Wake on LAN bidez pizteko GTK+ tresna
Comment[fr]=Un outil GTK+ pour réveiller les ordinateurs éteints grâce à la caractéristique Wake On LAN
Comment[he]=כלי עזר +GTK כדי להעיר מחשבים כבויים דרך תכונת Wake on LAN
Comment[it]=Un'utilità GTK+ per risvegliare computer spenti attraverso la caratteristica Wake On LAN
Comment[nl]=Een GTK+ toepassing om uitgeschakelde computers aan te zetten door middel van de Wake on LAN functie
Comment[pl]=Narzędzie GTK+ do budzenia wyłączonych komputerów techniką Wake on LAN
Comment[pt_BR]=Um utilitário GTK + para ligar e desligar computadores através do recurso Wake on LAN
Comment[ru]=Утилита для включения компьютера посредством функции \"Wake on Lan\"
Comment[sk]=GTK+ utilita na prebudenie vypnutých počítačov pomocou Wake on LAN
Comment[sl_SI]=Pripomoček za GTK+ za zbujanje izklopljenih računalnikov s pomočjo zmožnosti Wake on LAN
Comment[tr]=Wake on LAN özelliğini kullanılarak bilgisayarları açmak için bir GTK+ uygulaması
Terminal=false
Categories=Network;GTK;
Icon=gwakeonlan
TryExec=gwakeonlan
Exec=gwakeonlan
